#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(58, 58, 82);
  }
  
  .mainPage{
    flex-grow: 1;
    
    color: white;
  }

  .fondo{
    background-image: url(https://img.freepik.com/foto-gratis/nube-blanca-cielo-azul_74190-2381.jpg);
  }